{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "printWidth": 120,
  "semi": false,
  "singleAttributePerLine": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "vueIndentScriptAndStyle": false,
  "endOfLine": "lf"
}
